.other__posts {
	display: flex;
	flex-wrap: wrap;
}

.other__posts--wrapper {
	padding-left: 1.5rem;
	padding-bottom: 2.9rem;
	width: 50%;
}

.other__posts-item {
	position: relative;
	background-color: #eaeaea;
	padding: 2.6rem 2rem 4rem 3rem;
	border-radius: 18px 0 0 0;
	text-shadow: 0 1px 0 #fff;
height: 21.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	& p {
		line-height: 1.8rem;
	overflow: hidden;
	}
	& .title-h3 {
		margin-bottom: 0.8rem;
	}
}

.shadow {
	position: relative;
	&::before {
		z-index: -1;
		position: absolute;
		content: "";
		bottom: 15px;
		left: 10px;
		width: 50%;
		top: 50%;
		max-width: 300px;
		background: rgba(0, 0, 0, 0.7);
		-webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
		-moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
		box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
		-webkit-transform: rotate(-3deg);
		-moz-transform: rotate(-3deg);
		-o-transform: rotate(-3deg);
		-ms-transform: rotate(-3deg);
		transform: rotate(-3deg);
	}
	&::after {
		@extend .shadow::before;
		-webkit-transform: rotate(3deg);
		-moz-transform: rotate(3deg);
		-o-transform: rotate(3deg);
		-ms-transform: rotate(3deg);
		transform: rotate(3deg);
		right: 10px;
		left: auto;
	}
}

.other__posts-footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #f4f3f3;
	display: flex;
	justify-content: flex-end;
	padding: 0.8rem 1.5rem 1.1rem;
	align-items: baseline;
	align-content: space-between;
& 	svg{
		position: absolute;
		left: 0;
		top:50%;
		transform: translateY(-50%);
	}
& .likes{
	position: relative;
padding-left: 22px;
	}
& .comments{
	position: relative;
padding-left: 22px;
	}
}

.last {
	text-align: center;
	width: 100%;
	line-height: 80px;
	margin-left: 14px;
	margin-top: 28px;
	height: 80px;
	background: #e9e8e8;
	background: -webkit-linear-gradient(top, #e9e8e8 0%, #f2f1f1 48%, #f4f3f3 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#e9e8e8), color-stop(48%, #f2f1f1), to(#f4f3f3));
	background: -o-linear-gradient(top, #e9e8e8 0%, #f2f1f1 48%, #f4f3f3 100%);
	background: linear-gradient(to bottom, #e9e8e8 0%, #f2f1f1 48%, #f4f3f3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e8e8', endColorstr='#f4f3f3', GradientType=0);
}
.other__posts-top{
	height:45%;

	}